# Para todos os arquivos e sub-pastas localizados na pasta Ucontas/

# sbt specific
.cache/
.history/
.lib/
dist/*
target/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target/*
project/project/*

# eclipse
build
.classpath
.project
.settings
org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml`


# IntelliJ 

*.iml
*.ipr
*.iws
.idea
/bin/
/project
project
